<app-shell >
  <!-- *ngIf="loaderService.visibility | async" -->


  <div style="background: rgba(0, 0, 0, 0.5); 
              height: 100%;
              width: 100%;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              position: fixed;
              display: block;
              z-index: 9999;" *ngIf="loaderService.visibility | async" [@inOutAnimation]>
    <mat-progress-bar color="primary" mode="indeterminate" style="position: absolute;
      top: 50%;
      left: 10%;
      right: -10%;
      width: 80%;
      height: 5px;"></mat-progress-bar>
  </div>
  
  <div style="min-height: 100%;">
    <router-outlet></router-outlet>
  </div>
  

  <app-footer></app-footer>
  
</app-shell>